/* Général ------------------------------------------------------------------------------------- */
body,p,legend,label,input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

body {
	background-image: url("bg.jpg");
	background-attachment: fixed;
	color: #383838;
}

fieldset {
	padding: 10px;
	border: 1px #0568CD solid;
}

legend {
	font-weight: bold;
	color: #0568CD;
}

.bloc_page {
	width: 900px;
	margin: auto;
	box-shadow: 6px 6px 6px black;
	background-color: white;
}
/*Navigation*/
nav {
	width: 870px;
	margin: auto;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	font-weight: normal;
	font-size: 120%;
	text-transform: uppercase;
	color: #686868;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	color: #395d84;
	text-decoration: overline underline;
}
/* Forms --------------------------------------------------------------------------------------- */
form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

form .erreur {
	color: #900;
}

form .succes {
	color: #090;
}
.bcenter{
	width: 870px;
	height:30px;
}
/* Table ------------------------------------------------------------------------------------------*/
table,td,th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	font-size: 200%;
	width: 99.5%;
	margin: auto;
}

td {
	padding: 7px;
}

th {
	background-color: #0568CD;
	color: white;
}

/*Info systeme*/
#infsys ul {
	list-style-type: none;
}

#infsys li {
	display: inline-block;
	margin-right: 20px;
}
/*Consoles*/
#cx {
	width: 848px;
	margin: auto;
}

.seb {
	width: 250px;
	margin: auto;
}

li.a {
	list-style-image: url('inc/stopwatch.png');
}

li.b {
	list-style-image: url('inc/stopwatch.png');
}

li.c {
	list-style-image: url('inc/stopwatch.png');
}

.c {
	display: inline-block;
	width: 279px;
}

.progress-bar {
	background-color: #1b1a1a;
	height: 25px;
	padding: 5px;
	width: 350px;
	margin: 5px 0;
	border-radius: 5px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
	display: inline-block;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;
}

.blue span {
	background-color: #0568CD;
}


.shine span {
    position: relative;
}

.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
}
