body {
	background-image: url("images/bg.jpg");
	background-attachment: fixed;
	color: #383838;
}

#bloc_page {
	width: 900px;
	margin: auto;
	box-shadow: 6px 6px 6px black;
	background-image: url("images/mg.png");
}
.article
{
width: 750px;
margin: auto;
}

p {
	Text-align: center;
}

h2 {
	width: 100px;
	margin: auto;
}

h1 {
	Text-align: center;
}

/*Navigation*/
nav {
Text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	font-weight: normal;
	text-transform: uppercase;
	color: #686868;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	color: #395d84;
	text-decoration: overline underline;
}

/*Consoles*/
#cx {
	width: 848px;
	margin: auto;
}

.seb {
	width: 250px;
	margin: auto;
}

#c1 {
	display: inline-block;
	width: 420px;
}

li.a {
	list-style-image: url('images/stopwatch.png');
}

li.b {
	list-style-image: url('images/stopwatch.png');
}

li.c {
	list-style-image: url('images/stopwatch.png');
}

table {
	margin-left: auto;
	margin-right: auto;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 15px;
}

#c2 {
	display: inline-block;
	width: 420px;
}

#c3 {
	display: inline-block;
	width: 420px;
}

#c4 {
	display: inline-block;
	width: 420px;
}