body {
	background-image: url("images/bg.jpg");
	background-attachment: fixed;
	color: #383838;
}

#bloc_page {
	width: 900px;
	margin: auto;
	box-shadow: 6px 6px 6px black;
	background-image: url("images/mg.png");
}
.article
{
width: 750px;
margin: auto;
}
.chemin
{
 font-weight: bold;
 border-style: outset;
 border-width: small;
 border-color: grey;
 width: 400px;
 margin: auto;
}
.sp
{
margin-left: 100px;
}
p {
	Text-align: center;
}

h2 {
	width: 100px;
	margin: auto;
}

h1 {
	Text-align: center;
}
h3, h4
{
Text-Decoration: Underline;
}

/*Navigation*/
nav {
Text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	font-weight: normal;
	text-transform: uppercase;
	color: #686868;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	color: #395d84;
	text-decoration: overline underline;
}
